{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href=" {% static 'store/css/mainpage.css' %}">
{% endblock %}

{% block title%} Main Page {% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            {% include 'partials/_categories.html'%}
        </div>
        <div class="col-9">
            <h3>Products</h3>
            <hr>
            {% for product in products %}
                {% if product.is_mainpage %}
                    {% include 'store/partials/_product.html'%}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block js_file %}
<script src="{% static 'firstapp/js/mainpage.js' %}"></script>
{% endblock %}