html,
body {
  width: 100%;
  overflow-x: hidden;
}

.store-page-wrapper {
  padding: 40px;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 60px;
  background-color: #f4f4f4;
}

.store-page-wrapper h1 {
  color: #01236a;
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-decoration: none;
}

.store-page-wrapper .product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.store-page-wrapper .product-card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.store-page-wrapper .product-card a {
  text-decoration: none;
  color: inherit;
}

.store-page-wrapper .product-card:hover {
  transform: scale(1.05);
}

.store-page-wrapper .product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.store-page-wrapper .product-card h2 {
  font-size: 1.4rem;
  color: #01236a;
  margin: 10px 0;
  text-decoration: none;
}

.store-page-wrapper .product-card p {
  font-size: 1rem;
  color: #666;
}

.store-page-wrapper .product-card .price {
  font-size: 1.2rem;
  color: #01236a;
  margin: 0 0 10px;
  align-self: center;
}

.store-page-wrapper .product-card button {
  background-color: #005da9;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.store-page-wrapper .product-card .out-of-stock-label {
  color: red;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
}

.store-page-wrapper .product-card button:hover {
  background-color: #01236a;
}
