.cart-container-wrapper {
  margin-top: 80px;
  margin-bottom: 20px;
  width: 85%;
  padding: 25px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.cart-container-wrapper a {
  text-decoration: none;
}

.cart-container-wrapper p {
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.2rem;
  color: #666;
}

.cart-container-wrapper h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  padding-top: 10px;
  color: #333;
}

.cart-container-wrapper .cart-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart-container-wrapper .cart-item {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1fr 1.5fr 1.5fr 0.6fr;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: box-shadow 0.2s ease;
}

.cart-item .item-image {
  grid-column: 1 / 2;
}

.cart-item .item-name {
  grid-column: 2 / 3;
}

.cart-item .item-quantity {
  grid-column: 3 / 4;
}

.cart-container-wrapper .cart-item:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Hover effect for items */
}

.cart-container-wrapper .cart-item .product-image {
  margin-left: 20px;
  width: 50%;
  max-width: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-container-wrapper .cart-item .item-name {
  font-weight: bold;
  font-size: 1.2rem;
  color: #005da9;
  text-align: left;
}

.cart-container-wrapper .cart-item .item-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: #005da9;
}

.cart-container-wrapper .item-quantity strong {
  margin-right: 5px;
}

.cart-container-wrapper .cart-item .item-quantity span {
  margin-right: 15px;
}

.cart-container-wrapper .cart-item .item-quantity button {
  font-size: 1.3rem;
  width: 36px;
  height: 36px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #005da9;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 0 8px;
}

.cart-container-wrapper .cart-item .item-quantity button:hover {
  background-color: #004080;
  transform: scale(1.05);
}

.cart-container-wrapper .cart-item .item-quantity button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.cart-container-wrapper .cart-item .item-price {
  text-align: center;
  font-size: 1.1rem;
  color: #555;
}

.cart-container-wrapper .cart-item .item-price .price-wrapper {
  display: flex;
  flex-direction: column;
}

.cart-container-wrapper .cart-item .item-price .original-price {
  margin-right: 5px;
  text-decoration: line-through;
  color: gray;
}

.cart-container-wrapper .cart-item .item-price .original-price2 {
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
}

.cart-container-wrapper .cart-item .item-price .discounted-price {
  margin-top: 5px;
  color: #ff9800;
  font-weight: bold;
  font-size: 1.3rem;
}

.cart-container-wrapper .cart-item .item-subtotal {
  font-size: 1.1rem;
  color: #555;
}

.cart-container-wrapper .cart-item .delete-button {
  margin-top: 2px;
  justify-self: center;
  background: none;
  border: none;
  cursor: pointer;
  color: #ff3700;
  font-size: 1.7rem;
  transition: transform 0.2s ease, color 0.3s ease;
}

.cart-container-wrapper .cart-item .delete-button:hover {
  transform: scale(1.1);
  color: #b06900;
}

.cart-container-wrapper .cart-total {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 30px;
}

.cart-container-wrapper .cart-total span {
  color: #333;
}

.cart-container-wrapper .purchase-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 25%;
  padding: 15px;
  background-color: #005da9;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cart-container-wrapper .purchase-button:hover {
  background-color: #004080;
  transform: scale(1.05);
}

.cart-container-wrapper .purchase-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.cart-container-wrapper a.start-shopping {
  display: flex;
  font-weight: bold;
  justify-content: center;
  font-size: 1.3rem;
  color: #005da9;
  margin-top: 30px;
}

.cart-container-wrapper a.start-shopping:hover {
  color: #01236a;
}
