.payment-page-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

.payment-page-container h2 {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-bottom: 20px;
}

.payment-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #555;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group textarea {
  height: 80px;
  resize: none;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #005da9;
  outline: none;
}

.form-row {
  display: flex;
  gap: 10px;
}

.form-row .form-group {
  flex: 1;
}

.error-text {
  color: #ff4d4d;
  font-size: 14px;
  margin-top: 5px;
}

.payment-button {
  width: 100%;
  padding: 15px;
  background: #005da9;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.payment-button:hover {
  background: #01236a;
}

.payment-button:active {
  background: #01236a;
}

.loading-message,
.error-message {
  font-size: 1.2rem;
  color: #2c3e50;
  text-align: center;
  padding: 20px;
  margin: 50px auto;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}
.payment-success-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
  background: #f3f4f6; /* Light gray background */
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.success-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.success-image {
  padding-top: -150px;
  width: 560px; /* Adjust size as needed */
  height: auto;
  margin-bottom: -50px;
}

.success-header {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 10px;
}

.success-paragraph {
  font-size: 1rem;
  color: #7f8c8d;
  margin-bottom: 20px;
}
