.sales-manager-container {
  padding: 40px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  width: 50%;
  margin: 80px auto 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 12px #0000001a;
}

.sales-manager-container h1 {
  color: #01236a;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.sales-manager-container .dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.sales-manager-container .section {
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.sales-manager-container .section:nth-child(1) {
  background-color: #e3f2fd; /* Light Blue */
}

.sales-manager-container .section:nth-child(2) {
  background-color: #e8f5e9; /* Light Green */
}

.sales-manager-container .section:nth-child(3) {
  background-color: #fff8e1; /* Light Yellow */
}

.sales-manager-container .section:nth-child(4) {
  background-color: #ffebee; /* Light Red */
}

.sales-manager-container h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.sales-manager-container .action-button {
  padding: 10px 15px;
  background-color: #005da9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.sales-manager-container .action-button1 {
  padding: 10px 15px;
  background-color: #005da9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: 5px;
}

.sales-manager-container .action-button2 {
  padding: 10px 15px;
  background-color: #005da9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 5px;
}

.sales-manager-container .action-button1:hover {
  background-color: #01236a;
  transform: scale(1.1);
}

.sales-manager-container .action-button2:hover {
  background-color: #01236a;
  transform: scale(1.1);
}

.sales-manager-container .action-button:hover {
  background-color: #01236a;
  transform: scale(1.1);
}
