.profile-page-container {
  max-width: 400px;
  margin: 30px auto;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.profile-page-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.8rem;
  color: #01236a;
}

.profile-page-message {
  color: green;
  text-align: center;
  margin-bottom: 15px;
}

.profile-page-form {
  display: flex;
  flex-direction: column;
}

.profile-page-form-group {
  margin-bottom: 15px;
}

.profile-page-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.profile-page-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile-page-submit-button {
  background-color: #005da9;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: -10px;
}

.profile-page-submit-button:hover {
  background-color: #01236a;
}
