.order-history-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin-top: 80px;
  margin-bottom: 20px;
}

.order-history-container p {
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.2rem;
  color: #666;
}

.order-history-container h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  padding-top: 10px;
  color: #333;
}

.order-history-container .order-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.order-history-container .order-item {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.order-history-container .order-item:hover {
  background-color: #f0f0f0;
}

.order-history-container .order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.order-header .order-id,
.order-header .order-date,
.order-header .order-total,
.order-header .order-status {
  color: #005da9;
}

.order-history-container .order-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.order-history-container .order-item-detail {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

.order-history-container .order-item-detail .item-name {
  font-weight: bold;
  color: #333;
}

.order-item-detail .item-quantity,
.order-item-detail .item-price {
  font-size: 0.9rem;
  color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
  .order-item-detail {
    grid-template-columns: 1fr 1fr;
  }

  .order-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .order-header .order-id,
  .order-header .order-date,
  .order-header .order-total {
    margin-bottom: 5px;
  }
}

.order-history-container .view-invoice-button {
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #005da9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order-history-container .view-invoice-button:hover {
  background-color: #01236a;
}

.order-history-container a.start-shopping {
  display: flex;
  font-weight: bold;
  justify-content: center;
  font-size: 1.3rem;
  color: #005da9;
  margin-top: 30px;
  text-decoration: none;
}

.order-history-container a.start-shopping:hover {
  color: #01236a;
}
