.search-page-wrapper {
  padding: 40px;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 60px;
  background-color: #f4f4f4;
}

.search-page-wrapper h1 {
  color: #01236a;
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-decoration: none;
}

.search-page-wrapper .product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.search-page-wrapper .product-card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.search-page-wrapper .product-card a {
  text-decoration: none;
  color: inherit;
}

.search-page-wrapper .product-card:hover {
  transform: scale(1.05);
}

.search-page-wrapper .product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.search-page-wrapper .product-card h2 {
  font-size: 1.4rem;
  color: #01236a;
  margin: 10px 0 10px;
  text-decoration: none;
}

.search-page-wrapper .product-card p {
  font-size: 1rem;
  color: #666;
}

.search-page-wrapper .product-card .price {
  font-size: 1.2rem;
  color: #01236a;
  margin: 0 0 10px;
  align-self: center;
}

.search-page-wrapper .product-card button {
  background-color: #005da9;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.search-page-wrapper .product-card .out-of-stock-label {
  color: red;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
}

.search-page-wrapper .product-card button:hover {
  background-color: #01236a;
}

/* Add styling for the sorting dropdown */
.sort-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  font-size: 16px;
}

.sort-dropdown label {
  margin-right: 10px;
  font-weight: bold;
  color: #01236a;
  margin-right: 10px;
}

.sort-dropdown select {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  cursor: pointer;
  color: #01236a;
  transition: border-color 0.2s, box-shadow 0.2s;
  margin-right: 20px;
}

.sort-dropdown select:hover {
  border-color: #01236a;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
