html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: hidden;
}

.register-form-container {
  text-align: center;
}

.register-form-container .page-title {
  margin-bottom: -20px;
  margin-top: -10px;
}

.register-form-container .page-title a {
  font-size: 56px;
  font-weight: bold;
  color: #01236a;
  text-decoration: none;
}

.register-form-container .page-title a:hover {
  color: #005da9;
}

.register-form-container .wrapper {
  width: 420px;
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  border: 3px solid black;
  backdrop-filter: blur(30px);
  background-color: #005da9;
  margin-top: 30px;
  margin-bottom: 20px;
}

.register-form-container .wrapper h1 {
  font-size: 40px;
  text-align: center;
}

.register-form-container .wrapper .input-box {
  position: relative;
  width: 100%;
  height: 55px;
  margin: 20px 0;
}

.register-form-container .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.register-form-container .error-message {
  margin-bottom: 20px;
  color: #880000;
  font-weight: bold;
}

.register-form-container .input-box input::placeholder {
  color: #fff;
}

.register-form-container .input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.register-form-container .wrapper button {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #01236a;
  font-weight: 700;
  margin-bottom: 20px;
}

.register-form-container .login-link {
  font-size: 15px;
  text-align: center;
  margin-top: 15px;
}

.register-form-container .login-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-form-container .login-link p a:hover {
  text-decoration: underline;
}
